/* ==============
==== general ==== 
============== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    font-size: 14px;
    color: #444;
}

/* ==============
==== navbar ==== 
============== */

header, .navbar {
    background-color: #353d41;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 72px;
}

.navbar-brand {
    padding: 0;
    color: #f5f5f5;
}

.navbar-brand:hover {
    color: #f5f5f5;
}

#navbar-links a {
    color: #f5f5f5;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* =============
==== slider ==== 
============= */

.container-fluid {
    padding: 0;
}

#main-slider .carousel-inner, #main-slider .carousel-item {
    height: 90vh;
}

#main-slider .carousel-caption {
    top: 30%;
}

#main-slider .carousel-caption h2 {
    margin-bottom: 30px;
    font-size: 50px;
}

#main-slider .carousel-caption p {
    margin-bottom: 100px;
    font-size: 22px;
    font-weight: 300;
    color: #f5f5f5;
}

.main-btn {
    padding: 10px 20px;
    width: 200px;
    height: 60px;
    color: #f5f5f5;
    background-color: #65daf9;
    text-transform: uppercase;
    border: 3px solid transparent;
    border-radius: 30px;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    color: #f5f5f5;
    background-color: transparent;
    border-color: #65daf9;
}

.main-btn:focus {
    outline: none;
}

.carousel-indicators .active {
    background-color: #65daf9;
}

/* ============
==== sobre ==== 
============ */

#about-area {
    background-color: #f9f9f9;
}

.main-title {
    margin-bottom: 65px;
    font-size: 40px;
    text-align: center;
    color: #444;
}

.main-title::after {
    content: '';
    position: absolute;
    top: 60px;
    left: 42.5%;
    width: 15%;
    border-top: 2px solid #444;
}

.about-title {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    color: #444;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    margin-right: 16px;
    color: #65daf9;
}

/* ===============
==== serviços ==== 
=============== */

.service-box {
    margin-bottom: 56px;
    text-align: center;
}

.service-box i, .service-box h4 {
    margin-bottom: 24px;
    transition: .5s
}

.service-box i {
    font-size: 36px;
    color: #444;
}

.service-box:hover>i, .service-box:hover>h4 {
    color: #65daf9;
}

/* ===================
==== estatísticas ==== 
=================== */

.circle-box div {
    padding: 0 40px;
}

.progressbar-text {
    font-size: 32px;
    font-weight: bold;
}

#data-area p {
    margin-top: 20px;
    text-align: center;
    font-size: 26px;
    color: #f5f5f5;
}

/* =============
==== equipe ==== 
============= */

.card-body {
    text-align: center;
}

/* =======================
==== trabalhe conosco ==== 
======================= */

#apply-area {
    height: 500px;
}

#apply-area .container-fluid,
#apply-area .row {
    height: 100%;
}

#apply-area .apply-box {
    padding: 70px 50px;
    text-align: center;
}

#company-img {
    background-image: url(../img/empresa.jpg);
    background-size: cover;
    height: 100%;
}

#pattern-img h4,
#pattern-img p {
    color: #f5f5f5;
}

#pattern-img h4 {
    margin: 8% 0 20px;
    text-transform: uppercase;
}

#pattern-img p {
    margin-bottom: 20px;
}

#apply-btn {
    display: block;
    margin: 30px auto 0;
    width: 180px;
    height: auto;
    background-color: transparent;
    border-color: #f5f5f5;
}

#apply-btn:hover {
    border-color: #65daf9;
    background-color: #65daf9;
}

/* ================
==== portfólio ==== 
================ */

.project-box {
    margin-bottom: 30px;
}

#filter-btn-box {
    margin-bottom: 30px;
    text-align: center;
}

#portfolio-area .filter-btn {
    margin: 0 15px;
    padding: 0 20px;
    width: auto;
    min-width: 100px;
    height: 40px;
    line-height: 40px;
    text-transform: none;
    color: #444;
    background-color: transparent;
    border: 1px solid #444;
}

#portfolio-area .filter-btn.active,
#portfolio-area .filter-btn:hover {
    color: #f5f5f5;
    background-color: #65daf9;
    border-color: #65daf9;
}

/* =================
==== newsletter ==== 
================= */

#news-area {
    text-align: center;
    background-color: #f9f9f9;
}

#news-area p {
    margin-bottom: 40px;
    font-size: 18px;
}

#email-input {
    display: inline-block;
    box-sizing: border-box;
    width: 40%;
    height: 40px;
    border: 2px solid #65daf9;
    border-radius: 20px 0 0 20px;
}

#news-btn {
    position: absolute;
    margin-left: -130px;
    padding: 0 30px;
    height: 40px;
    text-transform: uppercase;
    background-color: #65daf9;
    color:#f5f5f5;
    border: 2px solid #65daf9;
    border-radius: 0 20px 20px 0;
    transition: .5s;
}

#news-btn:hover {
    color: #65daf9;
    background-color: #f5f5f5;
}

/* ==========
==== CTA ==== 
========== */

#call-area {
    text-transform: uppercase;
    background-color: #65daf9;
}

#call-area .container {
    padding: 40px 100px;
}

#call-area .row {
    display: block;
    text-align: center;
}

#call-area p {
    display: inline-block;
    margin-bottom: 0;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #f5f5f5;
}

#call-area #call-btn {
    display: inline-block;
    margin-left: 30px;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #65daf9;
    background-color: #f5f5f5;
}