/* ==============
==== general ==== 
============== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    font-size: 14px;
    color: #444;
}

/* ==============
==== navbar ==== 
============== */

header, .navbar {
    background-color: #353d41;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 72px;
}

.navbar-brand {
    padding: 0;
    color: #f5f5f5;
}

.navbar-brand:hover {
    color: #f5f5f5;
}

#navbar-links a {
    color: #f5f5f5;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* =============
==== slider ==== 
============= */

.container-fluid {
    padding: 0;
}

#main-slider .carousel-inner,
#main-slider .carousel-item {
    height: 90vh;
}

#main-slider .carousel-caption {
    top: 30%;
}

#main-slider .carousel-caption h2 {
    margin-bottom: 30px;
    font-size: 50px;
}

#main-slider .carousel-caption p {
    margin-bottom: 100px;
    font-size: 22px;
    font-weight: 300;
    color: #f5f5f5;
}

.main-btn {
    padding: 10px 20px;
    width: 200px;
    height: 60px;
    color: #f5f5f5;
    background-color: #65daf9;
    text-transform: uppercase;
    border: 3px solid transparent;
    border-radius: 30px;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    color: #f5f5f5;
    background-color: transparent;
    border-color: #65daf9;
}

.carousel-indicators .active {
    background-color: #65daf9;
}

/* ============
==== sobre ==== 
============ */

#about-area {
    background-color: #f9f9f9;
}

.main-title {
    margin-bottom: 65px;
    font-size: 40px;
    text-align: center;
    color: #444;
}

.main-title::after {
    content: '';
    position: absolute;
    top: 60px;
    left: 42.5%;
    width: 15%;
    border-top: 2px solid #444;
}

.about-title {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    color: #444;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    margin-right: 16px;
    color: #65daf9;
}

/* ===============
==== serviços ==== 
=============== */

.service-box {
    margin-bottom: 56px;
    text-align: center;
}

.service-box i ,
.service-box h4 {
    margin-bottom: 24px;
    transition: .5s
}

.service-box i {
    font-size: 36px;
    color: #444;
}

.service-box:hover > i,
.service-box:hover > h4 {
    color: #65daf9;
}

/* ===================
==== estatísticas ==== 
=================== */

.circle-box div {
    padding: 0 40px;
}

.progressbar-text {
    font-size: 32px;
    font-weight: bold;
}

#data-area p {
    margin-top: 20px;
    text-align: center;
    font-size: 26px;
    color: #f5f5f5;
}

/* =============
==== equipe ==== 
============= */

.card-body {
    text-align: center;
}